.form-field {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 4rem;
}

.form-field > div {
    position: relative;

    flex-grow: 1;
}

.form-field__label {
    display: inline-block;
    min-width: 18rem;
}

.form-field__input {
    width: 100%;
    padding: 1rem 2rem;

    font: inherit;
    font-weight: normal;
    font-size: 1.4rem;
    color: inherit;

    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: .2rem;
    outline: none;
}

.form-field__input:focus {
    border-color: #665555;
}

.form-field__input:disabled {
    background-color: #f4f4f4;
}

.form-field__input--invalid {
    border-color: #cf0023;
}

.form-field__input--select {
    text-transform: uppercase;
}

.form-field__error {
    position: absolute;
    bottom: -2.5rem;
    left: 1rem;

    font-size: 1.2rem;
    color: #cf0023;
}

.form__btn {
    display: block;
    margin-top: 6rem;
    margin-left: auto;
}

@media (max-width: 600px) {
    .form-field__label {
        min-width: 10rem;
    }
}